<?xml version="1.0"?>
<config>
    <modules>
        <Handy_Profiler>
            <version>1.1.0</version>
        </Handy_Profiler>
    </modules>
    <global>
        <blocks>
            <handy_profiler>
                <class>Handy_Profiler_Block</class>
            </handy_profiler>
            <core>
                <rewrite>
                    <profiler>Handy_Profiler_Block_Core_Profiler</profiler>
                </rewrite>
            </core>
        </blocks>
        <models>
            <handy_profiler>
                <class>Handy_Profiler_Model</class>
            </handy_profiler>
            <core>
                <rewrite>
                    <resource>Handy_Profiler_Model_Core_Resource</resource>
                </rewrite>
            </core>
        </models>
        <helpers>
            <handy_profiler>
                <class>Handy_Profiler_Helper</class>
            </handy_profiler>
        </helpers>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <handy_profiler_mark_cached_blocks>
                        <class>handy_profiler/block_observer</class>
                        <method>markCachedBlocks</method>
                    </handy_profiler_mark_cached_blocks>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <handy_profiler>
                    <file>handy_profiler.xml</file>
                </handy_profiler>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <handy_profiler>
                    <file>handy_profiler.xml</file>
                </handy_profiler>
            </updates>
        </layout>
    </frontend>
</config>
