<?xml version="1.0"?>
<config>
    <modules>
        <Handy_Profiler>
            <version>1.0.0</version>
        </Handy_Profiler>
    </modules>
    <global>
        <blocks>
            <handy_profiler>
                <class>Handy_Profiler_Block</class>
            </handy_profiler>
            <core>
                <rewrite>
                    <profiler>Handy_Profiler_Block_Core_Profiler</profiler>
                </rewrite>
            </core>
        </blocks>
        <models>
            <handy_profiler>
                <class>Handy_Profiler_Model</class>
            </handy_profiler>
            <core>
                <rewrite>
                    <resource>Handy_Profiler_Model_Core_Resource</resource>
                </rewrite>
            </core>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <handy_profiler>
                    <file>handy_profiler.xml</file>
                </handy_profiler>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <handy_profiler>
                    <file>handy_profiler.xml</file>
                </handy_profiler>
            </updates>
        </layout>
    </frontend>
</config>
